add_library({{ project_slug }}_math
    src/math.cpp
)

target_include_directories({{ project_slug }}_math
    PUBLIC include
)

target_link_libraries({{ project_slug }}_math
    PUBLIC
        Eigen3::Eigen
    PRIVATE
        {{ project_slug }}_warnings
        {{ project_slug }}_options
)
